<template>
  <q-list class="navigation-header">
    <q-item>
      <q-item-section>
        <q-input v-model="search" borderless placeholder="Поиск">
          <template v-slot:append>
            <q-icon name="search" />
          </template>
        </q-input>
      </q-item-section>
    </q-item>
  </q-list>
</template>

<script>
export default {
  data() {
    return {
      search: null,
    };
  },
  watch: {
    search() {
      this.$emit("search", this.search);
    },
  },
};
</script>

<style lang="scss">
.navigation-header {
  display: flex;
  height: 80px;

  .q-item {
    width: 100%;
  }
}
</style>
