<template>
  <q-scroll-area style="height: calc(100vh - 80px)">
    <q-list style="min-height: 100%">
      <q-item
        v-for="dialog in dialogsFiltered"
        :key="dialog.id"
        clickable
        v-ripple
        @click="selectDialog(dialog.id, dialog.target)"
        :active="selectedDialogId === dialog.id"
        active-class="bg-primary text-white"
      >
        <q-item-section avatar>
          <q-avatar class="bg-grey">
            <img v-if="dialog.icon" :src="`http://${dialog.icon}`" />
          </q-avatar>
        </q-item-section>

        <q-item-section>
          <q-item-label lines="1">{{ dialog.name }}</q-item-label>
          <q-item-label caption lines="2">
            <span class="text-weight-bold">
              {{ dialog.lastMessage.sent ? "Вы" : dialog.lastMessage.from }}
            </span>
            {{ dialog.lastMessage.text }}
          </q-item-label>
        </q-item-section>

        <q-item-section side top>
          {{ parseInt(dialog.notreaded) ? dialog.notreaded : "" }}
        </q-item-section>
      </q-item>

      <template v-if="search">
        <q-item v-if="!searchUsers && !searchRooms">
          <q-item-section>Поиск...</q-item-section>
        </q-item>

        <template v-if="searchUsers">
          <q-item>
            <q-item-section>Жители</q-item-section>
          </q-item>

          <q-item
            v-for="user in searchUsers"
            :key="`searchusers${user.id}`"
            clickable
            v-ripple
            @click="selectDialog(-1, user.id)"
          >
            <q-item-section avatar>
              <q-avatar class="bg-grey">
                <img v-if="user.icon" :src="`http://${user.icon}`" />
              </q-avatar>
            </q-item-section>

            <q-item-section>
              <q-item-label lines="1">{{ user.name }}</q-item-label>
            </q-item-section>
          </q-item>
        </template>
      </template>
    </q-list>
  </q-scroll-area>
</template>

<script>
import {
  subscribeDialogs,
  unsubscribeDialogs,
  searchDialogs,
} from "../../../services/api/messenger";

export default {
  props: {
    search: {
      type: String,
      default: "",
    },
  },
  data() {
    return {
      dialogs: null,
      searchTimeout: null,
      searchDialogs: null,
      searchUsers: null,
      searchRooms: null,
      selectedDialogId: null,
    };
  },
  computed: {
    dialogsFiltered() {
      console.log(this.dialogs);
      const filtered =
        Array.isArray(this.dialogs) &&
        this.dialogs.filter(
          (d) =>
            d.name &&
            d.name.toUpperCase().search(this.search.toUpperCase()) > -1
        );

      return filtered
        ? filtered.sort(
            (a, b) =>
              parseInt(b.lastMessage.ctime) - parseInt(a.lastMessage.ctime)
          )
        : null;
    },
  },
  async mounted() {
    subscribeDialogs((data) => {
      this.dialogs = data;
    });
  },
  beforeDestroy() {
    unsubscribeDialogs();
  },
  methods: {
    selectDialog(id, target) {
      this.selectedDialogId = id;

      this.$emit("dialogSelected", { id, target });
      this.$emit("clearSearch");
      // history.pushState(null, "", location.pathname + "?" + urlParams);
    },
  },
  watch: {
    search(searchVal) {
      clearTimeout(this.searchTimeout);

      this.searchTimeout = setTimeout(async () => {
        if (this.search) {
          const searchData = await searchDialogs(this.search);
          if (searchData.search === searchVal) {
            this.searchUsers = searchData.users;
            this.searchRooms = searchData.messengerRooms;
          }
        }
      }, 700);
    },
  },
};
</script>
