<template>
  <div class="col-12 col-sm-5 col-md-4 col-lg-3">
    <dialogs-header @search="search = $event" />
    <dialogs-list
      :search="search"
      @clearSearch="search = ''"
      @dialogSelected="$emit('dialogSelected', $event)"
    />
  </div>
</template>

<script>
import DialogsList from "./DialogsList";
import DialogsHeader from "./DialogsHeader";
export default {
  components: { DialogsHeader, DialogsList },
  data() {
    return {
      search: "",
    };
  },
};
</script>
