<template>
  <div id="app">
    <div class="row webc-messenger">
      <Navigation @dialogSelected="dialog = $event"></Navigation>

      <div class="col-12 col-sm-7 col-md-8 col-lg-9" style="max-height: 100%">
        <dialog-window :dialogId="dialog"></dialog-window>
      </div>
    </div>
  </div>
</template>

<script>
import Navigation from "./components/messenger/navigation/Navigation";
import DialogWindow from "./components/messenger/dialog/DialogWindow";
export default {
  name: "App",
  components: { DialogWindow, Navigation },
  data() {
    return {
      dialog: null,
    };
  },
  methods: {},
};
</script>

<style lang="scss">
//#app {
//  font-family: Avenir, Helvetica, Arial, sans-serif;
//  -webkit-font-smoothing: antialiased;
//  -moz-osx-font-smoothing: grayscale;
//  text-align: center;
//  color: #2c3e50;
//  margin-top: 60px;
//}
</style>
