<template>
  <q-layout v-if="dialog" view="hHh lpR fFf" container style="height: 100%">
    <dialog-header>
      <template v-if="dialog" v-slot:avatar>
        <img v-if="dialog.icon" :src="`http://${dialog.icon}`" />
      </template>
      <template v-if="dialog" v-slot:title>{{ dialog.name }}</template>
    </dialog-header>

    <q-page-container style="height: 100%" class="pcomt">
      <q-scroll-area style="height: 100%" ref="test">
        <div
          v-if="!lastReadedMessageId && messages"
          ref="lastMessage"
          class="messages-new__separator"
          style="padding: 0 30px; width: 100%"
        >
          новые сообщения
        </div>

        <div
          v-for="(message, msidx) in messages"
          :key="message.id"
          style="width: 100%; padding: 0 30px"
        >
          <q-chat-message
            :data-id="message.id"
            v-intersection.once="onIntersection"
            :name="`<span class='text-white'>${message.from}</span>`"
            avatar="https://cdn.quasar.dev/img/avatar3.jpg"
            :text="[message.text]"
            text-sanitize
            :stamp="convertUnixTimeToLocale(message.ctime)"
            :sent="message.sent"
            size="9"
            bg-color="blue-2"
          />

          <div
            v-if="lastReadedMessageId === message.id && messages[msidx + 1]"
            ref="lastMessage"
            class="messages-new__separator"
          >
            новые сообщения
          </div>
        </div>
      </q-scroll-area>
    </q-page-container>

    <dialog-message-input
      @sendMessage="sendMessage"
      @inputResize="scrollDialogBottom"
    ></dialog-message-input>
  </q-layout>
</template>

<script>
import DialogHeader from "./DialogHeader";
import DialogMessageInput from "./DialogMessageInput";

import {
  getDialogById,
  subscribeOnRoomMessages,
  pushMessage,
  messageRead,
  unsubscribeOnRoomMessages,
} from "../../../services/api/messenger";

export default {
  components: { DialogMessageInput, DialogHeader },
  props: {
    dialogId: {
      type: Object,
      default: null,
    },
  },
  data() {
    return {
      dialog: null,
      lastReadedMessageId: null,
      messages: null,
      sendLastShowMessageTimeoutId: null,
    };
  },
  methods: {
    async getDialogInfo(mmrId, target) {
      this.dialog = await getDialogById(mmrId, target);
    },
    async getMessages(mmrId, target, first = false) {
      await subscribeOnRoomMessages(mmrId, target, (dialogData) => {
        const scrollWrapper =
          this.$refs.test && this.$refs.test.getScrollTarget();

        const scrollBottomOffset = scrollWrapper
          ? scrollWrapper.scrollHeight -
            scrollWrapper.scrollTop -
            scrollWrapper.clientHeight
          : null;

        this.messages = dialogData.messages;
        this.lastReadedMessageId = dialogData.lastReadedMessageId;

        this.$nextTick().then(() => {
          if (scrollBottomOffset !== null && scrollBottomOffset < 20) {
            this.$refs.test.setScrollPosition(
              this.$refs.test.getScrollTarget().scrollHeight
            );
          }
        });

        if (first) {
          first = false;
          this.scrollToLastMessage();
        }
      });
    },
    scrollToLastMessage() {
      this.$nextTick().then(() => {
        const el = this.$refs.lastMessage
          ? this.$refs.lastMessage.slice(-1).pop()
          : null;

        if (el) {
          this.$refs.test.setScrollPosition(el.offsetTop);
        } else {
          this.$refs.test.setScrollPosition(
            this.$refs.test.getScrollTarget().scrollHeight
          );
        }
      });
    },
    scrollDialogBottom() {
      const scrollWrapper = this.$refs.test.getScrollTarget();

      const scrollBottomOffset =
        scrollWrapper.scrollHeight -
        scrollWrapper.scrollTop -
        scrollWrapper.clientHeight;

      if (scrollBottomOffset < 20) {
        this.$refs.test.setScrollPosition(
          this.$refs.test.getScrollTarget().scrollHeight
        );
      }
    },
    onIntersection(data) {
      if (
        data.target.dataset.id > this.lastReadedMessageId &&
        data.isIntersecting
      ) {
        clearTimeout(this.sendLastShowMessageTimeoutId);

        this.sendLastShowMessageTimeoutId = setTimeout(() => {
          messageRead(this.dialog.id, data.target.dataset.id);
        }, 600);
      }
    },
    convertUnixTimeToLocale(unixTime) {
      // костыль с датами
      const time = new Date(unixTime * 1000).toLocaleTimeString("ru", {
        hour: "numeric",
        minute: "numeric",
      });

      const date = new Date(unixTime * 1000).toLocaleString("ru", {
        year: "numeric",
        month: "numeric",
        day: "numeric",
      });

      if (
        date ===
        new Date().toLocaleString("ru", {
          year: "numeric",
          month: "numeric",
          day: "numeric",
        })
      )
        return time;

      return date + " " + time;
    },
    async sendMessage(message) {
      const data = await pushMessage(
        this.messengerRoomId,
        this.target,
        message
      );

      if (data.ok) {
        this.messages = data.messages;
        this.lastReadedMessageId = data.lastReadedMessageId;
        this.scrollToLastMessage();
      }
    },
  },
  watch: {
    dialogId() {
      if (!this.dialogId) return;

      this.messengerRoomId = this.dialogId.id;
      this.target = this.dialogId.target;

      unsubscribeOnRoomMessages();
      this.getDialogInfo(this.messengerRoomId, this.target);
      this.getMessages(this.messengerRoomId, this.target, true);
    },
  },
};
</script>

<style lang="scss">
.q-layout-container > div > div,
.q-layout-container .q-layout {
  height: 100%;
}

.q-message-text-content {
  white-space: pre-wrap;
}

.messages-new__separator {
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;

  &::before,
  &::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid #fff;
  }

  &:not(:empty)::before {
    margin-right: 0.25em;
  }

  &:not(:empty)::after {
    margin-left: 0.25em;
  }
}
</style>
