<template>
  <q-footer
    bordered
    class="bg-white text-black flex items-center overflow-hidden"
  >
    <q-icon
      name="attach_file"
      style="
        align-self: flex-end;
        font-size: 24px;
        padding-bottom: 16px;
        padding-right: 20px;
      "
    />
    <q-input
      v-model="text"
      borderless
      autogrow
      placeholder="Написать сообщение..."
      class="webc-messenger__message_input"
    />

    <q-icon
      name="send"
      @click="sendMessage"
      style="align-self: flex-end; font-size: 24px; padding-bottom: 16px"
    />

    <q-resize-observer @resize="$emit('inputResize')" />
  </q-footer>
</template>

<script>
export default {
  data() {
    return {
      text: "",
    };
  },
  methods: {
    sendMessage() {
      const msg = this.text.trim();
      if (msg) {
        this.$emit("sendMessage", this.text);
      }

      this.text = "";
    },
  },
};
</script>

<style lang="scss">
.webc-messenger__message_input::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.webc-messenger__message_input {
  padding-right: 20px;
  overflow-y: scroll;
  max-height: 10rem;
  width: calc(100% - 80px);

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
</style>
