<template>
  <q-header bordered class="dialog-header bg-white text-grey-8 header">
    <!--    <q-toolbar>-->
    <!--      <q-toolbar-title>-->

    <div class="dialog-header__title">
      <slot name="title"></slot>
    </div>

    <q-avatar class="dialog-header__avatar bg-grey">
      <slot name="avatar"></slot>
    </q-avatar>

    <!--      </q-toolbar-title>-->
    <!--    </q-toolbar>-->
  </q-header>
</template>

<style lang="scss">
.dialog-header {
  display: flex;
  align-items: center;
  height: 70px;
  padding-bottom: 0;

  &__avatar {
    height: 40px;
    width: 40px;
  }
  &__title {
    margin-left: auto;
    padding-right: 10px;
  }
}
</style>
