<template>
  <div style="width: 100%; padding: 0 30px">
    <q-chat-message
      name="me"
      avatar="https://cdn.quasar.dev/img/avatar3.jpg"
      :text="[
        'hey, how are you?d ad asd asdas das das das das dasd as das das das dasdas das',
      ]"
      stamp="7 minutes ago"
      sent
      size="9"
      bg-color="amber-7"
    />
  </div>
</template>
